<div class="ticket-box"><% @flight.each do |flights| %>
  <% @flight = flights.id %>
  Destiny: <%= flights.destiny %>
  <br>
  
  Available seats: <%= flights.seats %>
  <br>
  
  Price: $<%= flights.price %>.00
  <br>
  
  Date: <%= flights.date %>
 
 <%= link_to 'Register', booking_path(flight_id: @flight), method: 'get', :class => 'btn btn-primary' %>   
    


<% end %> 
</div>